    /*  SUMARIO  -  ctrl+f case sensitive para pular à seção

        TEMAS
        GERAL
        HEADER
        ABOUT
        SCROLLBAR
        CONTATO
        FOOTER

    */

    /* 'dm mono', monospace : 300, 400, 500 */
    @import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
    /* 'cantarel', sans serif : 400, 700, normal e italic */
    @import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

    @media (max-width: 700px) {

        :root {
            font-size: 42%;
        }

    }

    @media (min-width: 700px) {

        :root {
            font-size: 62.5%; /* 1rem = 10px */
        }

    }

    :root {

        scroll-behavior: smooth;
        scroll-padding: 10rem;

        /* cores grayscale - claro ao escuro */
        --white: hsl(0, 0%, 99%);
        --gray10: hsl(0, 0%, 10%);

        /* cores coloridas */
        --green: hsl(150, 30%, 50%);
        --light-green: hsl(150, 30%, 80%);

        /* gradiente */
        --kda: linear-gradient(90deg, rgba(164,240,248,1) 0%, rgba(255,255,255,1) 66%, rgba(187,182,227,1) 100%);

    }

    /*
    TEMAS
    */

    .light { /*   t e m a   c l a r o   */

        /* nav buttons */
        --button-bg: var(--gray10);
        --button-text: white;

        /* theme switcher */
        --slider-bg: var(--gray10);
        --slider-circle: var(--white);

        /* main page */
        --bg: var(--white);
        --text: black;
        --opposite-bg: var(--gray10);
        --opposite-text: white;

        /* about page */
        --about-accentcolor: var(--green);
        --about-accentcolor-light: var(--light-green);

        /* contact page */
        --contact-accentcolor: pink;

    }

    .dark { /*   t e m a   e s c u r o   */

        /* nav buttons */
        --button-bg: var(--white);
        --button-text: black;

        /* theme switcher */
        --slider-bg: var(--white);
        --slider-circle: var(--gray10);

        /* main page */
        --bg: var(--gray10);
        --text: white;
        --opposite-bg: var(--white);
        --opposite-text: white;

        /* about page */
        --about-accentcolor: var(--green);
        --about-accentcolor-light: var(--light-green);

        /* contact page */
        --contact-accentcolor: pink;

    }

    #theme-button { /*  t h e m e   s l i d e r  -  shape  */

        width: 5rem;
        height: 3rem;
        border-radius: 3rem;

        background-color: var(--slider-bg);

        position: relative;

        cursor: pointer;

    }

    #slider-circle { /*  t h e m e   s l i d e r  -  circle  */

        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;

        background-color: var(--slider-circle);

        position: absolute;
        top: 0.2rem;
        left: 0.2rem;

        transition: all 500ms ease;

        cursor: pointer;

    }

    .slide-animation #slider-circle { /*  t h e m e   s l i d e r  -  animation */

        transform: translate(2rem);

    }

    /*
    GERAL
    */

    * {

        margin: 0;
        padding: 0;

        /* theme transition */
        transition: background-color 500ms ease-in-out,
                    color 100ms ease-in-out;

    }

    a { /*  <a>   d e f a u l t   s t y l e   f i x  */

        text-decoration: none;
        color: currentColor;

    }

    ul { /*  <ul>   d e f a u l t   s t y l e   f i x  */

        list-style: none;

    }

    body {

        font-family: 'DM Mono', monospace;
        background-color: var(--bg);
        overflow-x: hidden;

        display: none; /* não deixa a página aparecer antes do js carregar,
                          porque isso buga o darkmode */

    }

    /*
    HEADER
    */

    header {

        font-size: 1rem; /* 10px */

        height: 11rem;

        position: sticky;
        top: -1rem;

        width: 100vw;

        z-index: 1; /* > main (0) */

    }

    header ::selection, #index ::selection { /*  h i d e   s e l e c t i o n  */

        color: currentColor;
        background: none;

    }

    header ul { /*  m e n u   d e   n a v e g a ç ã o  */

        font-size: 1.5em; /* x1rem = 15px */

        background-color: var(--bg);
        color: var(--text);

        margin-top: 1rem;
        padding-top: 0.2rem;
        height: 9rem; /* 110px */

        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;

    }

    header svg { /*  l o g o  */

        width: 4rem;
        padding-top: 1rem;

        transition: 800ms ease-in-out;

    }

    header svg:hover {

        transform: rotate(360deg);

    }

    header #duna {

        font-size: 3em; /* x1rem = 30px */
        font-weight: bolder;

        transition: letter-spacing 500ms ease;

    }

    header #duna:hover {

        letter-spacing: 0.5ch;

    }

    header li:nth-child(odd) { /*  l o g o,   d u n a,   s l i d e r  */

        width: 10ch;

    }

    header li:nth-child(even) { /*  n a v   l i n k s  */

        width: 20ch;

    }

    header li:nth-child(even) a { /*  b o t a o   d o s   l i n k s  */

        padding: 0.8em; /* x1.5rem = 1.2rem = 12px */
        border-radius: 2em; /* x1.5rem = 3rem = 30px */

        transition: all 400ms ease;

    }

    header li:nth-child(even) a:hover { /*  b o t a o   d o s   l i n k s  */

        background: var(--button-bg);
        color: var(--button-text);

    }

    #about li:nth-child(even) a:hover {

        background: var(--about-accentcolor);

    }

    #contact li:nth-child(even) a:hover {

        background: var(--contact-accentcolor);

    }

    hr {

        height: 0.1rem;
        width: 90vw;
        margin: auto;

        background: var(--opposite-bg);

        position: sticky;
        top: 8rem;

        z-index: 1;

    }

    /*
    INDEX
    */

    #index {

        overflow-y: hidden;

    }

    .container {

        width: 100vw;
        height: calc(100vh - 11rem); /* 100% de altura - header */

        position: relative;

        overflow: hidden;

    }

    .container svg {

        height: 110%;

        position: absolute;
        bottom: -7%;

        animation: load 600ms ease-in-out both;

    }

    @keyframes load {

        from {opacity: 0; left: 50%}
        to {opacity: 1; left: 45%}

    }

    #hoodie {

        transition: 200ms;

    }

    #hoodie:hover {

        transform: scale(1.01);
        transform-origin: 25% 80%;

    }

    #akali {

        animation: kda 10s infinite ease-out both;

    }

    #ahri {

        opacity: 0;

        animation: kda 10s infinite ease-out both;
        animation-delay: 5s;

    }

    @keyframes kda { /*  r o t a ç ã o   d e   e s t a m p a s  */

        0% {opacity: 0}
        20% {opacity: 1}
        30% {opacity: 1}
        50% {opacity: 0}
        100% {opacity: 0}

    }

    #index h1 {

        font-size: 8rem;
        color: var(--text);

        overflow: hidden;
        white-space: nowrap;

        cursor: default;

        margin: 0 2ch;
        position: absolute;
        left: 0;

    }

    #index #bem {

        animation: typebem 1s steps(8) both,
                   typingbar 1s 1 alternate;
        top: 5rem;

    }

    #index #vinda {
        animation: typevinda 1400ms steps(12) both,
                   typingbar 1s infinite;
        animation-delay: 1s;
        top: 15rem;

    }

    @keyframes typebem {

        from {width: 0}
        to {width: 8ch}

    }

    @keyframes typingbar {

        from, to {border-right: none}
        50% {border-right: 0.3rem solid var(--text)}

    }

    @keyframes typevinda {

        from {width: 0}
        to {width: 12ch}

    }

    #timer {

        font-size: 4rem;
        margin-top: 5rem;

        background: var(--kda);
        color: var(--gray10);

        width: 16ch;
        padding: 1ch;
        border-radius: 4rem;

        cursor: default;

    }

    @keyframes timer-load {

        from {opacity: 0; left: -10%}
        to {opacity: 1; left: 0}

    }

    .container div {

        position: absolute;
        bottom: 20%;

        font-size: 2rem;
        margin-left: 8rem;

        width: 34ch;
        text-align: center;

        animation: timer-load 800ms ease-out both;
        animation-delay: 2200ms;

        color: var(--text);

    }

    .container div a {

        text-align: center;
        font-weight: bolder;
        text-decoration: underline;

        margin-bottom: 5rem;

    }

    .container div a {

        transition: 400ms;

    }

    .container div a:hover {

        font-size: 1.1em;

    }

    /*
    ABOUT
    */

    #about main ::selection { /*  c o r   d a s   s e l e ç õ e s  */

        background-color: var(--about-accentcolor);
        color: var(--bg);

    }

    .banner {

        position: relative;

        margin: 3rem auto;
        height: calc(100vh - 18rem);
        width: 90vw;

        background: var(--opposite-bg);
        border: 0.2rem solid var(--opposite-bg);

        overflow: hidden;

    }

    .banner svg {

        position: absolute;

        min-width: 102%;
        min-height: 112%;

        left: -1%;
        top: -6%;

    }

    .light .remove-on-lightmode {

        fill: none;
        stroke: none;

    }

    .banner div {

        position: absolute;
        left: 2rem;
        top: 50%;

        font-size: 2.2rem;
        line-height: 2.8em;

        color: var(--about-accentcolor);

        cursor: default;

    }

    .banner h1 {

        color: var(--text);
        font-size: 4em;

        animation: typewrite-nossamissao 3s steps(12) infinite;

        overflow: hidden;
        white-space: nowrap;

    }

    @keyframes typewrite-nossamissao {

        0% {width: 0}
        60% {width: 12ch}
        80% {width: 12ch}
        100% {width: 0}

    }

    .banner h1::first-letter {

        color: var(--about-accentcolor);

    }

    article div {

        text-align: center;
        font-weight: bolder;
        color: var(--about-accentcolor-light);
        text-decoration: underline;

        margin-bottom: 5rem;

    }

    article div a {

        transition: 400ms;

    }

    article div a:hover {

        font-size: 1.1em;

    }

    article {

        font-family: Cantarell, sans-serif;

        font-size: 1.8rem;

        margin: 3em 6em; /* x1.8rem = 5.4rem */
        line-height: 2em; /* x1.8rem = 3.6rem */

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto;

        color: var(--text);

    }

    article .intro {
        grid-row: 1;
        grid-column: 1 / span 3;
    }

    article section.bloco-um {

        grid-row: 3;
        grid-column: 2 / span 2;

    }

    article section.bloco-dois {

        grid-row: 5;
        grid-column: 1 / span 2;

    }

    article h3.bloco-um {

        grid-row: 2;
        grid-column: 2 / span 2;

        text-align: right;

    }

    article h3.bloco-dois {

        grid-row: 4;
        grid-column: 1 / span 2;

        text-align: left;

    }

    article h3 {

        border-bottom: 2rem solid var(--about-accentcolor-light);

        font-size: 5rem;
        margin: 1em;

        cursor: default;

    }

    article span {

        transition: all 200ms ease;

    }

    article h3:hover span {

        font-size: 1.1em;
        transform: translateX(right: 1rem);

    }

    article .outro {

        grid-row: 6;
        grid-column: 1 / span 3;

    }

    article p {

        margin: 1em; /* x1.8rem */

    }

    article p::first-letter {

        font-weight: bolder;
        margin-left: 2em; /* x1.8rem = 3.6rem */

    }

    #scroll-top {

        position: fixed;
        bottom: 4rem;
        right: 5vw;

        width: 5rem;

        transition: 300ms ease-out;

        z-index: 10;

    }

    #scroll-top a {

        padding: 5rem;

    }

    #scroll-top p {

        font-size: 2rem;
        text-align: center;
        color: var(--text);

        padding-bottom: 1rem;

        opacity: 0;
        transition: 300ms ease-out;

        overflow: hidden;

    }

    #scroll-top:hover {

        bottom: 6rem;

    }

    #scroll-top:hover p {

        opacity: 1;
        animation: typewrite-topo 400ms steps(4);

    }

    @keyframes typewrite-topo {

        from {width: 0}
        to {width: 4ch}

    }

    /*
    SCROLLBAR
    */

    ::-webkit-scrollbar {

        background: none;
        width: 2rem;

    }

    ::-webkit-scrollbar-track {

        background: var(--bg);

    }

    ::-webkit-scrollbar-thumb {

        border: 0.7rem solid var(--bg);
        border-radius: 1rem;

    }

    #about::-webkit-scrollbar-thumb {

        background: var(--about-accentcolor);

    }

    #contact::-webkit-scrollbar-thumb {

        background: var(--contact-accentcolor);

    }

    ::-webkit-scrollbar-thumb:hover {

        border: 0.6rem solid var(--bg);

    }

    /*
    CONTATO
    */

    form#contato {

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 50vw;

        margin: 1rem auto;
        margin-bottom: 6rem;
    }

    form#contato h1 {

        color: var(--text);
        font-size: 4rem;

        animation: typewrite-faleconosco 3s steps(13) infinite;

        overflow: hidden;
        white-space: nowrap;

    }

    @keyframes typewrite-faleconosco {

        0% {width: 0}
        60% {width: 13ch}
        80% {width: 13ch}
        100% {width: 0}

    }


    form#contato div {

        margin: 1rem 0;

    }

    form#contato div:last-child,
    form#contato h1 {

        align-self: center;

    }

    label {

        font-size: 1.4rem;
        line-height: 2em;
        font-weight: bolder;

        color: var(--text);

        padding-left: 2ch;

    }

    input:not([type=submit]) {

        border-radius: 1em;
        border: 1.5px solid var(--text);

        height: 3rem;
        padding: 0 2ch;
        width: 100%;

        font-family: 'DM Mono', monospace;
        color: var(--text);

        background: var(--bg);

    }

    textarea {

        border-radius: 1em;
        border: 1.5px solid var(--text);

        height: 20rem;
        width: 100%;
        padding: 0.8em 2ch;

        font-family: 'DM Mono', monospace;
        color: var(--text);

        background: var(--bg);
    }

    input[type=submit] {

        border-radius: 4rem;
        border: none;

        width: 9ch;
        padding: 0.6em;
        margin-top: 1rem;

        color: var(--bg);
        background-color: var(--contact-accentcolor);

        font-size: 1.8rem;
        font-family: 'DM Mono', monospace;

        cursor: pointer;

        transition: 200ms;

    }

    #contact input:not([type=submit]):focus, textarea:focus {

        outline: none;
        border-color: var(--contact-accentcolor);

    }

    input[type=submit]:hover {

        transform: scale(1.1);

    }

    /*
    FOOTER
    */

    footer {

        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto 2rem;
        grid-row-gap: 5rem;

        position: relative;
        height: 30rem;

        border-top: 0.2rem solid var(--text);
        width: 90vw;
        margin: auto;

        color: var(--text);

    }

    footer div:first-child {

        grid-column: 1;
        grid-row: 1;

        border-right: 0.2rem solid var(--opposite-bg);
        margin-top: 3rem;
        padding-right: 5rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        font-size: 1.5rem;
        font-weight: bolder;
        white-space: nowrap;

    }

    footer div:last-child {

        display: flex;
        justify-content: space-around;
        align-items: center;

        grid-column: 1 / span 2;
        grid-row: 2;

        position: absolute;
        bottom: 0;

        width: 90vw;
        height: 4rem;
        line-height: 4rem;

        font-size: 1.5rem;
        color: var(--bg);

    }

    footer a {

        width: 3rem;
        height: 3rem;

    }

    #about footer div:last-child {

        background: var(--about-accentcolor);

    }

    #contact footer div:last-child {

        background: var(--contact-accentcolor);

    }

    form#newsletter {

        grid-row: 1;
        grid-column: 2;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    form#newsletter label {

        font-size: 2rem;
        text-align: center;

        padding-bottom: 1rem;

    }

    form#newsletter input[type=email] {

        width: 45vw;

    }

    form#newsletter input[type=submit] {

        font-size: 1.5rem;
        width: 14ch;
        background: var(--about-accentcolor-light);

        transition: all 200ms ease-out;

    }

    form#newsletter input[type=submit]:hover {

        transform: scale(1.1);
        background: var(--about-accentcolor);

    }

    #contact form#newsletter input[type=submit] {

        background: var(--contact-accentcolor);

    }

    form#newsletter input:not([type=submit]):focus, textarea:focus {

        outline: none;
        border-color: var(--about-accentcolor);

    }

    #contact form#newsletter input:not([type=submit]):focus, textarea:focus {

        border-color: var(--contact-accentcolor);

    }

    #caputi1, #caputi2 {

        overflow: hidden;
        position: absolute;
        white-space: nowrap;

    }

    #caputi1 {

        animation: typing 16s steps(30) infinite both;

    }

    #caputi2 {

        animation: typing 16s steps(30) infinite both;
        animation-delay: 8s;

    }

    @keyframes typing {

        0% {width: 0; left: 45vw;}
        30% {width: 30ch; left: calc(45vw - 15ch);}
        40% {width: 30ch; left: calc(45vw - 15ch);}
        50% {width: 0; left: 45vw}
        100% {width: 0; left: 45vw}

    }
